section h2 {
    text-decoration: underline;
}

p {
    clear: both;
}

figure {
    display: inline-block;
    text-align: center;
}

    figure img {
        border: double;
        border-color: grey;
        border-width: 5px;
    }

figcaption {
    font-style: italic;
    color: darkslategray;

}

.img-popup {
    height:10px;
}

footer {
    border-top: groove;
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
    padding: 15px;
}
